body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

section {
	width: 100%;
	height: 100vh;
	display: table;
	
	background: url("Blank_US_Map.svg") fixed center center no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.content {
	display: table-cell;
	vertical-align: middle;
}

header {
	width: 100%;
	text-align: center;
	position: fixed;
	margin-top: -2em;
}

h1 {
	font-size: 3em;
	font-weight: 300;
}

h3 {
	margin: 0;
}

.final{
	background-color:white;
	opacity:0.8;
	padding:10%;
	height:100vh;
}

.phone,.twofactor{
	text-align: left;
	float:left;
	margin-right:4%;
	width:45%;
}

.passwords{
	float:left;
}
