body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.map {
	position: absolute;
	height: 100vh;
	vertical-align: middle;
}

.map img {
	width: 100%;
	position: fixed;
	z-index: -1;
}

.section {
	width: 100%;
	height: 100vh;
	display: table;
}

/*section:nth-of-type(1)*/ .slideOne {
	background-image: url("map1.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: left top;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

/*section:nth-of-type(2)*/ .slideTwo {
	background-image: url("map2.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: left top;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

/*section:nth-of-type(3)*/ .slideThree {
	background-image: url("map3.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: left top;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

/*section:nth-of-type(4)*/ .slideFour {
	background-image: url("map4.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: left top;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

/*section:nth-of-type(5)*/ .slideFive {
	background-image: url("map5.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: left top;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

/*section:nth-of-type(6)*/ .slideSix {
	background-image: url("map6.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: left top;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.content {
	display: table-cell;
	vertical-align: middle;
}

header {
	width: 100%;
	text-align: center;
	position: fixed;
	margin-top: -1em;
}

h1 {
	font-size: 3em;
	font-weight: 300;
	margin-bottom: 0;
}

h2 {
	font-size: 2em;
	font-weight: 300;
}

h3 {
	margin: 0;
}

.statetext{
	font-size:1.2em;
}
.final{
	background-color:white;
	opacity:0.8;
	padding:10%;
	height:100vh;
}

.final a {
	font-weight: bold;
	text-decoration: underline;
	color: #2499b3;
}

.final a:hover {
	color: #81CFE0;
}

.phone,.twofactor{
	text-align: left;
	float:left;
	margin-right:4%;
	width:45%;
}

.app{
	float:left;
	width: 100%;
}

.downarrow {
	left: 0;
	right: 0;
	position: fixed;
	bottom: 0;
	z-index: 1;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: black;
}

@media(min-width: 763px) {
	.content {
		padding-left: 12em;
		padding-right: 12em;
	}
	
	.mobilemap {
		display: none;
	}
}

@media(max-width: 762px) {
	h1 {
		font-size: 2em;
	}
	
	h2, h3 {
		font-size: 1.5em !important;
	}
	
	.phone, .twofactor, .app{
		width:100%;
	}
	
	.section {
		background: none;
	}
	
	.mobilemap {
		display: block;
		width: 100% !important;
	}
}
